.burger-wrapper {
  cursor: pointer;
}
#meny {
    background: #373737;
    width: 20vw;
    height: 100vh;
    position: fixed;
    right: 0;
    transition-timing-function: cubic-bezier(10,2,3,1);
    transform: translateX(24vw);
    top: 0;
    z-index: 1;
    transition: 1s;
    padding: 12vh 2vw;
}
#menyAvPaa {
    display: none;
}

#menyAvPaa:checked ~ #meny {
    transform: translateX(0vw);
}

#burger {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#burger > div {
    height: 2px;
    background-color: white;
    transition: 0.5s;
    z-index: 999;
}

#menyAvPaa:checked ~ #burger > div {
  background-color: #fff;
}

#menyAvPaa:checked ~ #burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
}
#menyAvPaa:checked ~ #burger > div:nth-child(2) {
    opacity: 0;
}
#menyAvPaa:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
}
