:root{
  --primary-dark: #232323;
  --secondary-dark: #2b2b2b;
  --third-dark: #393939;

  --primary-light: #f4f4f4;

  --font-dark: #f7f7f7;
}

html{
  background-color: var(--primary-dark);
  color: var(--font-dark);
}

@font-face {
  font-family: "Montserrat";
  src: url("components/home/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.main-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--secondary-dark);
}

.main-logo{
  width: 5rem;
}


